<div class="px-5 pt-3 nav-links navbar navbar-dark bg-dark">
    <a routerLink="/home" class="logo-link nav-link navbar-brand">Finance Manager</a>
    <div class="nav-section navbar-brand">
        <a routerLink="/categories" class="nav-link navbar-brand">Категории</a>
        <a routerLink="/transactions/report" class="nav-link navbar-brand">Сводка</a>
        <a routerLink="/transactions" class="nav-link navbar-brand">Транзакции</a>
        <a routerLink="/notifications" class="nav-link navbar-brand">Оповещения ({{notificationCount}})</a>
        <a class="nav-link navbar-brand" (click)="onLogout()">Выйти</a>
    </div>
</div>