<app-header></app-header>
<div class="container mt-5">
    <div class="col-md-12">
        <div class="row mb-2">
            <div class="row task-detail-row">
                <div class="col-11 task-detail">
                    <div class="task-detail-text">
                        <h3 class="mb-2">
                            <strong>
                                {{request.title}}
                            </strong>
                        </h3>
                        <div class="mb-2 task-detail-task">{{request.description}}</div>
                        <hr class="my-3">
                        <div class="mb-2">Статус: {{request.status}}</div>
                        <div class="mb-2 task-detail-task">
                            Создано: {{request.createdDate | date: 'dd.MM.yyyy, HH:mm'}}
                        </div>
                        <div class="mb-2 task-detail-task">
                            Обновлено: {{ request.updatedDate ? (request.updatedDate | date: 'dd.MM.yyyy, HH:mm') : '-' }}
                        </div>
                        <div class="mb-2 task-detail-task">Заявку подал: {{request.createdBy}}</div>
                        <div *ngIf="request.appointed !='' " class="mb-4 task-detail-task">
                            Заявку обрабатывает: {{ request.appointed && request.appointed.trim() !== '' ? request.appointed : '-' }}
                        </div>
                        <div >
                            <a class="btn btn-outline-primary" (click)="modalService.open('editRequest')">Редактировать</a>
                            <a class="btn btn-outline-danger m-2" (click)="modalService.open('deleteRequest')">Удалить</a>
                        </div>
                    </div>
                    <hr class="my-3">
                    <app-comments-section [serviceRequestId]="requestId"></app-comments-section>
                </div>
                <div class="col-1 close-button-section">
                    <a [routerLink]="'/group/' + groupId" class="btn btn-close"></a>
                </div>
            </div>
        </div>
    </div>
    <app-modal *ngIf="(modalService.isVisible$('editRequest') | async)" [modalId]="'editRequest'" [title]="'Редактировать'">
        <app-edit-request-modal></app-edit-request-modal>
    </app-modal>
    <app-modal *ngIf="(modalService.isVisible$('deleteRequest') | async)" [modalId]="'deleteRequest'" [title]="'Подтверждение'">
        <app-prompt-modal 
            [promptText]="'Вы уверены, что хотите удалить данный запрос? Это действие невозможно отменить'"
            (confirm)="deleteRequest()"
            (cancel)="modalService.close('deleteRequest')">
        </app-prompt-modal>
    </app-modal>
</div>
