/* You can add global styles to this file, and also import other style files */
.nav-links {
    display: flex;
    text-align: center;
    min-height: 2rem;
}

.nav-section {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    padding-left: 1rem;
    font-size: 18px;
}

.logo-link{
    text-align: left;
    font-size: 18px;
}

#toast-container {
    padding: 2px;
    position: fixed !important;
    z-index: 1050 !important;
    top: 1rem;
    right: 1rem;
}

#toast-container > div {
    opacity: 1;
}

.toast-success {
    background-color: #4caf50;
    color: white;
}

.toast-error {
    background-color: #d02c20;
    color: white;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }

  /* Tabs */
.tab-header{
    text-align: center;
}

.tab-header h2.active {
    color: #545d6a;
    border-bottom: 4px solid #545d6a;
}

.tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #545d6a;
    border-bottom: 2px solid #fff;
}

.tab-header h2:focus {
    outline: none;
}

.btn-main {
    color: #FFFFFF;
    background-color: #1B6EC2;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 900;
    border-radius: 10px;
    border-width: 3px;
}

/* Elements */

.element-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.element-entry-text {
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
    flex-grow: 1;
}

.element-entry-actions {
    justify-content: flex-end;
}

.task-content {
    width: 70%;
    margin: 20px 0;
    border-radius: 20px;
}

.task-text {
    width: 50%;
    margin-right: 15px;
}

.task-info {
    width: 20%;
}

.task-detail {
    font-size: 16px;
}

.row-element {
    font-size: 16px;
    cursor: pointer;
}

html, body { 
    height: 100%;
}
body { 
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.sort-column {
    cursor: pointer;
    font-size: 16px;
}

/*------------------------------   USERS/WORKSPACES   -------------------------------------*/
.element-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    margin: 10px 0;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.element-entry-text {
    display: flex;
    flex-grow: 1;
}

.element-entry-actions{
    justify-content: flex-end;
}

/*------------------------------   MODAL   -------------------------------------*/
.form-background{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.creation-form{
    width: 500px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
