<app-header></app-header>
<router-outlet>
    <div class="row justify-content-md-center col-12 mt-4">
        <div class="col-6">
            <h1>Ваши группы</h1>
            <div *ngIf="groups.length == 0"> Группы отсутствуют</div>
            <div *ngFor="let group of groups" class="element-entry">
                <div class="element-entry-text">
                    {{group.name}}
                </div>
                <div class="element-entry-actions d-flex gap-2">
                    <a (click)="openDeleteModal(group.id)" class="btn btn-outline-danger">Удалить</a>
                    <a [routerLink]="'/group/' + group.id" class="btn btn-outline-primary">Открыть</a>
                </div>
            </div>
        </div>
    </div>

    <div style="position: fixed; right: 30px; bottom: 30px;">
        <button type="submit" class="btn btn-main float-right" (click)="modalService.open('createGroup')">
            Создать
        </button>
    </div>

    <app-modal *ngIf="(modalService.isVisible$('createGroup') | async)" [modalId]="'createGroup'" [title]="'Создать'">
        <app-create-group></app-create-group>
    </app-modal>

    <app-modal *ngIf="(modalService.isVisible$('deleteGroup') | async)" [modalId]="'deleteGroup'" [title]="'Подтверждение'">
        <app-prompt-modal 
            [promptText]="'Вы уверены, что хотите удалить данную группу? Это действие невозможно отменить'"
            (confirm)="deleteGroup()"
            (cancel)="modalService.close('deleteGroup')">
        </app-prompt-modal>
    </app-modal>
</router-outlet>
