<app-header></app-header>
<router-outlet>
    <div class="row justify-content-md-center col-12 mt-4">
        <div class="col-6">
            <h1>Ваши группы</h1>
            <div *ngIf="groups.length == 0"> Группы отсутствуют</div>
            <div *ngFor="let group of groups" class="element-entry">
                <div class="element-entry-text">
                    {{group.name}}
                </div>
                <div class="element-entry-actions">
                    <a [routerLink]="'/group/' + group.id" class="btn btn-outline-primary">Открыть</a>
                </div>
            </div>
        </div>
    </div>

    <div style="position: fixed; right: 30px; bottom: 30px;">
        <button type="submit" class="btn btn-main float-right" (click)="modalService.open()">
            Создать
        </button>
    </div>

    <app-modal *ngIf="modalService.isVisible$ | async" [title]="'Создать'">
        <app-create-group></app-create-group>
    </app-modal>
</router-outlet>
