<div class="row col-md-12 mb-2 justify-content-center">
    <div class="row text">
      <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-group mb-2">
                <label class="control-label">Заголовок</label>
                <input formControlName="title" class="form-control" />
                <span *ngIf="title.hasError('required') && title.touched" class="text-danger">
                    Пожалуйста, введите значение
                </span>
            </div>
  
            <div class="form-group mb-2">
                <label class="control-label">Описание</label>
                <textarea
                formControlName="description"
                class="form-control"
                rows="3"
                style="resize: vertical;"
                ></textarea>
                <span *ngIf="description.hasError('required') && description.touched" class="text-danger">
                Пожалуйста, введите значение
                </span>
            </div>
  
            <div *ngIf="authService.hasAnyRole(['Менеджер', 'Специалист поддержки'])" class="form-group mb-2">
                <select formControlName="status" class="form-control">
                    <option *ngFor="let status of statuses" [value]="status.id">{{ status.statusName }}</option>
                </select>
            </div>
            
            <div *ngIf="users.length > 0" class="form-group mb-2">
                <select formControlName="appointed" class="form-control">
                    <option [ngValue]="null">-- Не назначено --</option>
                    <option *ngFor="let user of users" [ngValue]="user.id">{{ user.name }}</option>
                </select>
            </div>

            <div *ngIf="authService.hasRole('Менеджер') && groups.length > 0" class="form-group mb-2">
                <select formControlName="group" class="form-control">
                    <option [ngValue]="null">-- Не назначено --</option>
                    <option *ngFor="let group of groups" [ngValue]="group.id">{{ group.name }}</option>
                </select>
            </div>
  
            <div class="form-group">
                <button type="submit" class="btn btn-main float-right" [disabled]="!form.valid">
                Сохранить
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
  